body {
    background-color: black;
}

.container {
    text-align: center;
    margin-top: 100px;
    color: #a100ff;
    text-shadow: 0 0 10px #a100ff;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #a100ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #a100ff;
}
